<a href="https://colab.research.google.com/github/SubramaniMokkala/python-projects/blob/main/Traffic_Safety_Recommendations_(Vision_Zero_Initiative).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install folium

Requirement already satisfied: folium in /usr/local/lib/python3.10/dist-packages (0.19.4)
Requirement already satisfied: branca>=0.6.0 in /usr/local/lib/python3.10/dist-packages (from folium) (0.8.1)
Requirement already satisfied: jinja2>=2.9 in /usr/local/lib/python3.10/dist-packages (from folium) (3.1.4)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from folium) (1.26.4)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from folium) (2.32.3)
Requirement already satisfied: xyzservices in /usr/local/lib/python3.10/dist-packages (from folium) (2024.9.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2>=2.9->folium) (3.0.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->folium) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->folium) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->folium) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->folium) (2024.12.14)

In [ ]:
import pandas as pd
import numpy as np
import folium
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv(r'/content/drive/MyDrive/Motor_Vehicle_Collisions_-_Crashes.csv')
df.head()  # View the first few rows

<ipython-input-3-61b6210dc0e6>:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r'/content/drive/MyDrive/Motor_Vehicle_Collisions_-_Crashes.csv')

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,09/11/2021,9:35,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,12/14/2021,8:13,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.isnull().sum()

CRASH DATE                             0
CRASH TIME                             0
BOROUGH                           665663
ZIP CODE                          665926
LATITUDE                          239548
LONGITUDE                         239548
LOCATION                          239548
ON STREET NAME                    461111
CROSS STREET NAME                 818686
OFF STREET NAME                  1778512
NUMBER OF PERSONS INJURED             18
NUMBER OF PERSONS KILLED              31
NUMBER OF PEDESTRIANS INJURED          0
NUMBER OF PEDESTRIANS KILLED           0
NUMBER OF CYCLIST INJURED              0
NUMBER OF CYCLIST KILLED               0
NUMBER OF MOTORIST INJURED             0
NUMBER OF MOTORIST KILLED              0
CONTRIBUTING FACTOR VEHICLE 1       7301
CONTRIBUTING FACTOR VEHICLE 2     338705
CONTRIBUTING FACTOR VEHICLE 3    1992605
CONTRIBUTING FACTOR VEHICLE 4    2112079
CONTRIBUTING FACTOR VEHICLE 5    2137644
COLLISION_ID                           0
VEHICLE TYPE CODE 1                14914
VEHICLE TYPE CODE 2               420694
VEHICLE TYPE CODE 3              1998431
VEHICLE TYPE CODE 4              2113338
VEHICLE TYPE CODE 5              2137940
dtype: int64

In [ ]:
# Drop rows where LATITUDE or LONGITUDE are missing
df.dropna(subset=['LATITUDE', 'LONGITUDE'], inplace=True)

# Check if there are still missing values
df.isnull().sum()

CRASH DATE                             0
CRASH TIME                             0
BOROUGH                           463594
ZIP CODE                          463831
LATITUDE                               0
LONGITUDE                              0
LOCATION                               0
ON STREET NAME                    404549
CROSS STREET NAME                 722110
OFF STREET NAME                  1565197
NUMBER OF PERSONS INJURED             16
NUMBER OF PERSONS KILLED              28
NUMBER OF PEDESTRIANS INJURED          0
NUMBER OF PEDESTRIANS KILLED           0
NUMBER OF CYCLIST INJURED              0
NUMBER OF CYCLIST KILLED               0
NUMBER OF MOTORIST INJURED             0
NUMBER OF MOTORIST KILLED              0
CONTRIBUTING FACTOR VEHICLE 1       6672
CONTRIBUTING FACTOR VEHICLE 2     306985
CONTRIBUTING FACTOR VEHICLE 3    1770991
CONTRIBUTING FACTOR VEHICLE 4    1876275
CONTRIBUTING FACTOR VEHICLE 5    1898988
COLLISION_ID                           0
VEHICLE TYPE CODE 1                13663
VEHICLE TYPE CODE 2               384297
VEHICLE TYPE CODE 3              1776242
VEHICLE TYPE CODE 4              1877405
VEHICLE TYPE CODE 5              1899248
dtype: int64

In [ ]:
# Fill missing values in 'BOROUGH' with the most frequent value (mode)
df['BOROUGH'].fillna(df['BOROUGH'].mode()[0], inplace=True)

# Fill missing values in 'ZIP CODE' with the most frequent value (mode)
df['ZIP CODE'].fillna(df['ZIP CODE'].mode()[0], inplace=True)

# Check if there are still missing values
df.isnull().sum()

<ipython-input-6-4c2e3ec72940>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['BOROUGH'].fillna(df['BOROUGH'].mode()[0], inplace=True)
<ipython-input-6-4c2e3ec72940>:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ZIP CODE'].fillna(df['ZIP CODE'].mode()[0], inplace=True)

CRASH DATE                             0
CRASH TIME                             0
BOROUGH                                0
ZIP CODE                               0
LATITUDE                               0
LONGITUDE                              0
LOCATION                               0
ON STREET NAME                    404549
CROSS STREET NAME                 722110
OFF STREET NAME                  1565197
NUMBER OF PERSONS INJURED             16
NUMBER OF PERSONS KILLED              28
NUMBER OF PEDESTRIANS INJURED          0
NUMBER OF PEDESTRIANS KILLED           0
NUMBER OF CYCLIST INJURED              0
NUMBER OF CYCLIST KILLED               0
NUMBER OF MOTORIST INJURED             0
NUMBER OF MOTORIST KILLED              0
CONTRIBUTING FACTOR VEHICLE 1       6672
CONTRIBUTING FACTOR VEHICLE 2     306985
CONTRIBUTING FACTOR VEHICLE 3    1770991
CONTRIBUTING FACTOR VEHICLE 4    1876275
CONTRIBUTING FACTOR VEHICLE 5    1898988
COLLISION_ID                           0
VEHICLE TYPE CODE 1                13663
VEHICLE TYPE CODE 2               384297
VEHICLE TYPE CODE 3              1776242
VEHICLE TYPE CODE 4              1877405
VEHICLE TYPE CODE 5              1899248
dtype: int64

In [ ]:
df[['ON STREET NAME', 'CROSS STREET NAME', 'OFF STREET NAME']].isnull().sum()

ON STREET NAME        404549
CROSS STREET NAME     722110
OFF STREET NAME      1565197
dtype: int64

In [ ]:
# Fill missing values in street name columns with 'Unknown'
df['ON STREET NAME'].fillna('Unknown', inplace=True)
df['CROSS STREET NAME'].fillna('Unknown', inplace=True)
df['OFF STREET NAME'].fillna('Unknown', inplace=True)

# Check if there are still missing values
df.isnull().sum()

<ipython-input-8-4ace04a4dcc6>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ON STREET NAME'].fillna('Unknown', inplace=True)
<ipython-input-8-4ace04a4dcc6>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['CROSS STREET NAME'].fillna('Unknown', inplace=True)
<ipython-input-8-4ace04a4dcc6>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['OFF STREET NAME'].fillna('Unknown', inplace=True)

CRASH DATE                             0
CRASH TIME                             0
BOROUGH                                0
ZIP CODE                               0
LATITUDE                               0
LONGITUDE                              0
LOCATION                               0
ON STREET NAME                         0
CROSS STREET NAME                      0
OFF STREET NAME                        0
NUMBER OF PERSONS INJURED             16
NUMBER OF PERSONS KILLED              28
NUMBER OF PEDESTRIANS INJURED          0
NUMBER OF PEDESTRIANS KILLED           0
NUMBER OF CYCLIST INJURED              0
NUMBER OF CYCLIST KILLED               0
NUMBER OF MOTORIST INJURED             0
NUMBER OF MOTORIST KILLED              0
CONTRIBUTING FACTOR VEHICLE 1       6672
CONTRIBUTING FACTOR VEHICLE 2     306985
CONTRIBUTING FACTOR VEHICLE 3    1770991
CONTRIBUTING FACTOR VEHICLE 4    1876275
CONTRIBUTING FACTOR VEHICLE 5    1898988
COLLISION_ID                           0
VEHICLE TYPE CODE 1                13663
VEHICLE TYPE CODE 2               384297
VEHICLE TYPE CODE 3              1776242
VEHICLE TYPE CODE 4              1877405
VEHICLE TYPE CODE 5              1899248
dtype: int64

In [ ]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

In [ ]:
# Selecting the LATITUDE and LONGITUDE columns for clustering
coords = df[['LATITUDE', 'LONGITUDE']]

In [ ]:
# Standardizing the data (normalization)
scaler = StandardScaler()
coords_scaled = scaler.fit_transform(coords)

In [ ]:
# Applying K-Means clustering (for example, 5 clusters)
kmeans = KMeans(n_clusters=5, random_state=0)
df['Cluster'] = kmeans.fit_predict(coords_scaled)

In [ ]:
# Check the first few rows to see the cluster assignment
df[['LATITUDE', 'LONGITUDE', 'Cluster']].head()

    LATITUDE  LONGITUDE  Cluster
3  40.667202 -73.866500        3
4  40.683304 -73.917274        3
6  40.709183 -73.956825        3
7  40.868160 -73.831480        4
8  40.671720 -73.897100        3

In [ ]:
import folium

In [ ]:
# Initialize a base map (centered around NYC coordinates)
map_center = [40.7128, -74.0060]  # Approximate center of NYC
mymap = folium.Map(location=map_center, zoom_start=12)

In [ ]:
# Plot each point with a different color for each cluster
for idx, row in df.iterrows():
    folium.CircleMarker(
        location=[row['LATITUDE'], row['LONGITUDE']],
        radius=5,
        color=f"#{hex(255 - row['Cluster'] * 50)[2:]}0000",  # Assign color based on cluster
        fill=True,
        fill_color=f"#{hex(255 - row['Cluster'] * 50)[2:]}0000",
        fill_opacity=0.6
    ).add_to(mymap)

In [ ]:
# Specify the path in your Google Drive
file_path = '/content/drive/My Drive/accident_hotspots_map.html'

# Save the map to the specified path
mymap.save(file_path)

In [ ]:
from folium.plugins import HeatMap

In [ ]:
# Initialize the map
mymap = folium.Map(location=map_center, zoom_start=12)

In [ ]:
# Prepare the data for the heatmap (LATITUDE, LONGITUDE)
heat_data = [[row['LATITUDE'], row['LONGITUDE']] for idx, row in df.iterrows()]

In [ ]:
# Add HeatMap layer
HeatMap(heat_data).add_to(mymap)

In [ ]:
# Save the heatmap map to your Google Drive
file_path_heatmap = '/content/drive/My Drive/accident_heatmap.html'
mymap.save(file_path_heatmap)